* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, serif;
    font-size: 15px;
    line-height: 1.6;
    color: rgba(85, 89, 92, 255);
}

.flex {
    display: flex;
}

.myheader {
    justify-content: space-between;
    padding: 10px 10vw;
    background-color: rgba(33, 37, 41, 255);
    color: white;
}

.myheader .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 70%;
    margin-right: 10px;
}

.myheader .btn--hamburger {
    height: 40px;
    width: 40px;
    border: 1px solid rgba(255, 255, 255, 0.76);
    background-color: rgba(33, 37, 41, 255);
    background-image: url("./images/bar.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.showcase > .container {
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    gap: 0.5em;
}

.showcase .container > p {
    width: 35%;
    margin-bottom: 1em;
    text-align: center;
}

h1 {
    font-size: 2em;
}

.showcase-button button {
    font-size: 1em;
    padding: 0.5em 0.7em;
    color: white;
    background-color: rgba(108, 117, 125, 255);
    border: none;
    border-radius: 3px;
}

.showcase-button .main {
    background-color: rgba(13, 110, 253, 255);
}

.articles .container {
    background: rgba(248, 249, 250, 255);
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em 10vw;
}

.article {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    margin: 10px;
    gap: 1em;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
}

.article .thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 100%;
    background-color: rgba(85, 89, 92, 255);
    color: white;
    border-radius: 5px 5px 0 0;
}

.article > p {
    margin: 0 auto;
    padding: 5px 0;
    width: 95%;
    text-align: justify;
}

.article-bottom {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    font-size: 0.9rem;
    color: grey;
}
.article-bottom p {
    margin-left: auto;
}
.article-bottom span {
    border: 1px solid gray;
    padding: 2px 5px;
}

.article-bottom .view {
    border-radius: 4px 0 0 4px;
}

.article-bottom .edit {
    border-radius: 0 4px 4px 0;
}

footer {
    display: flex;
    padding: 3em 0;
    justify-content: space-around;
    color: grey;
}

@media screen and (max-width: 500px) {
    .article {
        flex-basis: 90%;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    .article {
        flex-basis: 45%;
    }
}
